{% extends 'ZazBlogBundle::layout.html.twig' %}
{% block header_logined %}
  Create post.
{% endblock %}

{% block body %}
<<<<<<< HEAD
=======
  <div class="status-message">
    {{ status }}
  </div>
>>>>>>> post_create
  {{ form(form) }}
{% endblock %}