{% extends 'ZazBlogBundle::layout.html.twig' %}
{% block header_logined %}
  Create post.
{% endblock %}

{% block body %}

  <div class="status-message">
    {{ status }}
  </div>
  {% form_theme form 'ZazBlogBundle:Form:bootstrap-form.html.twig' %}
  {{ form(form) }}
{% endblock %}