<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Index{% endblock %} | Blog</title>
    <meta charset="UTF-8"/>
    {% stylesheets
    'bundles/zazblog/bootstrap/css/bootstrap.css'
    'bundles/zazblog/css/main.css'
    'bundles/zazblog/css/form.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% block stylesheets %}
    {% endblock %}
  </head>
  <body class="container">
    <header class="header">
      {% block header %}
        <section class="header-top">
          <nav>
            <ul class="main-menu nav nav-tabs">
              <li>
                <a href="/">Home</a>
              </li>
              {% if app.session.has('user_tok') %}
                {% block navigation_authorized %}
                  <li>
                    <a href="/user/show/{{ user.getId() }}">Profile</a>
                  </li>
                  <li>
                    <a href="/post/add">Add post</a>
                  </li>
                  <li>
                    <a href="/posts">Show posts</a>
                  </li>
                  <li>
                    <a href="/user/logout">Logout</a>
                  </li>
                {% endblock %}
              {% else %}
                {% block navigation_anonimous %}
                  <li>
                    <a href="/user/login">Login</a>
                  </li>
                  <li>
                    <a href="/user/register">Register</a>
                  </li>
                {% endblock %}
              {% endif %}
            </ul>
          </nav>
        </section>
        <section class="messages header-messages">
          {% block messages %}
          {% endblock %}
        </section>
      {% endblock %}
    </header>
  <main class="main-content">
    {% block main %}
      <section class="body">
        {% block body %}

        {% endblock body %}

        {% if app.session.has('user_tok') %}
          {%block bottom_authenticated %}
          {%endblock bottom_authenticated%}
        {% else %}
          {%block bottom_anonimous %}
          {%endblock bottom_anonimous%}
        {% endif %}
 
      </section>
    {% endblock main %}
  </main>
  <footer>
    {% block footer %}
    {% endblock %}
  </footer>
</body>
</html>
