{% block body %}
  <div class="user-menu">
    <ul class="menu nav nav-tabs">
      <li>
        <a href="/post/add">Add post</a>
      </li>
      <li>
        <a href="/posts">See posts</a>
      </li>
      <li>
        <a href="/profile/edit">Edit profile</a>
      </li>
    </ul>
  </div>
{% endblock %}

