{% extends "ZazBlogBundle::layout.html.twig" %}
{% block stylesheets %}
    {% stylesheets
    'bundles/zazblog/css/form.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block title %}
    Register
{% endblock %}
{% block body %}

    {% if error %}
        <div class="error bs-callout bs-callout-danger">
            {{ error }}
        </div>
    {% endif %}
    {% form_theme form with ['ZazBlogBundle:Form:bootstrap-form.html.twig'] %}
    {{ form(form) }}
{% endblock body %}
